In [1]:
import pandas as pd
import numpy as np

In [11]:
eastern = pd.read_csv("eastern africa.csv", index_col = 0)

In [12]:
eastern

       countries     capitals  population
KEN        kenya      nairobi     53.7700
UG        uganda      kampala     45.7400
BUR      burundi    bujumbura     11.8900
RWA       rwanda       kigali     12.9500
TZ      tanzania       dodoma     59.7300
SOM      somalia    mogadishu     15.8900
ET      ethiopia  addis ababa    115.0000
DJ      djibouti     djibouti      0.9882
ER       eritrea       asmara      6.0810
SS   south sudan         juba     11.1900

In [5]:
eastern["population"]

0     53.7700
1     45.7400
2     11.8900
3     12.9500
4     59.7300
5     15.8900
6    115.0000
7      0.9882
8      6.0810
9     11.1900
Name: population, dtype: float64

In [14]:
eastern.iloc[:, 2]

KEN     53.7700
UG      45.7400
BUR     11.8900
RWA     12.9500
TZ      59.7300
SOM     15.8900
ET     115.0000
DJ       0.9882
ER       6.0810
SS      11.1900
Name: population, dtype: float64

In [15]:
eastern.loc[:, ["population"]]

     population
KEN     53.7700
UG      45.7400
BUR     11.8900
RWA     12.9500
TZ      59.7300
SOM     15.8900
ET     115.0000
DJ       0.9882
ER       6.0810
SS      11.1900

In [17]:
east = eastern["population"] < 15

In [18]:
east

KEN    False
UG     False
BUR     True
RWA     True
TZ     False
SOM    False
ET     False
DJ      True
ER      True
SS      True
Name: population, dtype: bool

In [19]:
eastern[east]

       countries   capitals  population
BUR      burundi  bujumbura     11.8900
RWA       rwanda     kigali     12.9500
DJ      djibouti   djibouti      0.9882
ER       eritrea     asmara      6.0810
SS   south sudan       juba     11.1900

In [20]:
np.logical_and(eastern["population"] > 35, eastern["population"] < 120)

KEN     True
UG      True
BUR    False
RWA    False
TZ      True
SOM    False
ET      True
DJ     False
ER     False
SS     False
Name: population, dtype: bool

In [21]:
eastern[np.logical_and(eastern["population"] > 35, eastern["population"] < 120)]

    countries     capitals  population
KEN     kenya      nairobi       53.77
UG     uganda      kampala       45.74
TZ   tanzania       dodoma       59.73
ET   ethiopia  addis ababa      115.00